.customer {
    background: var(--accent-color);
    border-radius: 30px;
    padding-bottom: 30px;
    margin-top: 50px;
  }
  .customer-heading {
    color: var(--primary-color);
    padding: 10px 20px 0 20px;
  }

  .customer-details {
    padding: 5px 20px 5px 20px;
  }